name: Deploy Rails API to AWS ECS


on:
  push:
    branches:
      - main


env:
  AWS_REGION: eu-central-1 
  ECR_REPOSITORY: rails-ecs
  ECS_CLUSTER: rails-ecs-cluster
  ECS_SERVICE: rails-ecs-service
  ECS_TASK_DEFINITION_NAME: rails-ecs-task-definition
  CONTAINER_NAME: rails-ecs-container


permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/GitHubOIDCRole
          aws-region: ${{ env.AWS_REGION }}


      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, Tag, and Push image to ECR
        id: build-image
        run: |
          IMAGE_TAG=${{ github.sha }}
          docker build -t ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:$IMAGE_TAG .
          docker push ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:$IMAGE_TAG
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: |
          terraform init \
            -backend-config="bucket=${{ secrets.TF_STATE_BUCKET }}" \
            -backend-config="key=rails-ecs/terraform.tfstate" \
            -backend-config="region=${{ env.AWS_REGION }}" \
            -backend-config="dynamodb_table=${{ secrets.TF_LOCK_TABLE }}"
        working-directory: ./infra

      - name: Terraform Plan
        id: tf-plan
        run: |
          terraform plan -var="image_tag=${{ env.IMAGE_TAG }}"
        working-directory: ./infra

      - name: Terraform Apply
        id: tf-apply
        run: terraform apply -auto-approve -var="image_tag=${{ env.IMAGE_TAG }}"
        working-directory: ./infra

      - name: Download Task Definition
        id: task-def
        run: |
          aws ecs describe-task-definition --task-definition ${{ env.ECS_TASK_DEFINITION_NAME }} \
          --query taskDefinition > task-definition.json
        
      - name: Fill New Image in Task Definition
        id: render-task-def
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: task-definition.json
          container-name: ${{ env.CONTAINER_NAME }}
          image: ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}

      - name: Deploy to ECS Service
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          task-definition: ${{ steps.render-task-def.outputs.task-definition }}
          service: ${{ env.ECS_SERVICE }}
          cluster: ${{ env.ECS_CLUSTER }}
          wait-for-service-stability: true 

      - name: Get ALB DNS Name
        id: get-alb-dns
        run: |
          ALB_DNS=$(terraform output -raw alb_dns_name)
          echo "ALB_DNS_NAME=$ALB_DNS" >> $GITHUB_ENV
        working-directory: ./infra


      - name: Verify Health Check
        run: |
          echo "Verifying health check at: ${{ env.ALB_DNS_NAME }}/health"
          for i in {1..12}; do 
            RESPONSE=$(curl -s -o /dev/null -w "%{http_code}" ${{ env.ALB_DNS_NAME }}/health)
            if [ "$RESPONSE" -eq 200 ]; then
              echo "Health check succeeded with status 200!"
              exit 0
            fi
            echo "Attempt $i: Health check failed with status $RESPONSE. Retrying in 10s..."
            sleep 10
          done
          echo "Health check failed after 2 minutes."
          exit 1

    


      - name: Send Slack Notification
        uses: rtCamp/action-slack-notify@v2
        if: always()
        with:
          status: ${{ job.status }}
          title: 'Deploy: ${{ github.repository }}'
          message: 'Build on `main` by ${{ github.actor }} finished with status: ${{ job.status }}.'
          footer: '<${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }}|View Commit>'
          slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}